li.loading div:first-child {
  background: 
  linear-gradient(
    180deg, 
    #878787 0%, 
    white 1%, 
    #878787 2%
  );
  background-size: 100% 200%;
  animation: Loading 0.6s ease infinite;
}

li.loading div:first-child:before {
  content: "";
  padding-bottom: 80%;
  display: block;
}

li.loading div:not(:first-child) {
  height: 1.1em;
  background: #878787;
  margin: 1.1em 0;
}

li.loading div:nth-child(2) {
  width: 4em;
}

li.loading div:nth-child(3) {
  width: 90%;
}

li.loading div:nth-child(4) {
  width: 8em;
}

li.loading div:nth-child(5) {
  width: 2em;
}

@keyframes Loading {
  0%{
    background-position-y:4%
  }
  100%{
    background-position-y:-100%
  }
}