:root {
  --wght: 300;
  --slnt: 0;
  --mono: 0;
  --casl: 0;
  --box-shadow: 1px 1px 5px rgb(63 63 63 / 58%);
}

*:not(.word-art>span){
  font-variation-settings: "wght" var(--wght),
                           "slnt" var(--slnt),
                           "MONO" var(--mono),
                           "CASL" var(--casl);
}

body{
  font-family: 'Recursive', monospace;
  margin: 5vmin;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

main {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

header {
  display: flex;
}

header > div {
  border: 1px solid black;
  padding: 0 1em 2em;
}

header > div:nth-child(2){
  border-left:none;
  background-color:#333;
  color:white;
}

header p {
  margin: 0;
}

header h3{
  font-size: 1em;
  margin-bottom: 0;
}

header span,
header div:nth-child(3) ul{
  --slnt:-10;
  --wght:400;
}

form{
  margin-top: 1em;
}

form label{
  margin-right: 0.5em;
}

form span{
  display: inline-block;
  white-space: nowrap;
  margin-top: 0.5em;
}

button{
  border: 1px solid;
  padding: 0.25em 0.5em;
  background-color:#333;
  border-color:#333;
  color:white;
  cursor: pointer;
  margin-right: 0.5em;
}

button:hover{
  background-color: rgb(240, 240, 240);
  color: black;
}

header button{
  background-color: rgb(233, 233, 233);
  border-color: rgb(233, 233, 233);
  color: black;
}

input{
  padding: 0.25em 0.5em;
  border: 1px solid white;
  margin-right: 0.5em;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  --mono:1;
}


@media screen and (max-width:630px) {
  header {
    flex-wrap: wrap;
  }
  header div:nth-child(2){
    flex:1;
  }  
  header div:nth-child(3){
    border-top:0px;
    width: 100%;
  }  
  header div:nth-child(3) li{
    display: inline-block;
  }
  header div:nth-child(3) li:not(:last-child):after{
    content: ",";
    display: inline-block;
    width: 0.8em;
  }
}

@media screen and (max-width:500px) {
  header div{
    width: 100%;
    flex:auto;
  }  
}